#fundo-titulo {
  width: 100%;
  background-color: var(--cor-fundo-claraX);
}

#fundo-formulario {
  width: 100%;
  background-color: var(--cor-fundo-normal);
}

body {
  background-color: var(--cor-fundo-claraX);
}

#meio-titulo {
  width: var(--largura-meio);
  max-width: var(--largura-maxima);
  margin: auto;
  text-align: center;
}

#meio-titulo p {
  font-weight: 300;
  padding-bottom: 15px;
}

h1 {
  margin: 0;
  padding: 30px 0 0;
  text-align: center;
  font-variant: small-caps;
}

form {
  background-color: var(--cor-fundo-normal);
  width: 50%;
  min-width: 600px;
  margin: 0 auto;
  padding: 40px 0;
}

input {
  background-color: var(--cor-fundo-clara);
  display: block;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0.5em 0.6em;
}

#box-name,
#box-cpf,
#mailbox,
#box-sexo,
#box-data {
  width: 90%;
  margin: 0 auto 20px auto;
}
#box-name input,
#box-cpf input,
#mailbox input,
#box-sexo input {
  width: 100%;
}

#box-data1,
#box-data2,
#box-data3 {
  display: inline-block;
}

#box-data1 {
  margin-right: 10px;
  width: calc(30% - 10px);
}

#box-data2 {
  margin-right: 10px;
  width: calc(40% - 8px);
}

#box-data3 {
  width: calc(30% - 10px);
}

#box-data1 input,
#box-data2 input,
#box-data3 input {
  width: 100%;
}

#mailbox {
  display: block;
}

label {
  font-weight: 700;
}

#btt-box {
  padding: 0 0 40px;
  text-align: center;
}

#btt-box button {
  font-variant: small-caps;
  font-weight: 400;
  border: 2px solid var(--cor-texto-escura);
  background: var(--cor-acento-suave);
  color: var(--cor-texto-normal);
  outline: none;
  border-radius: 10px 10px;
  border-style: none;
  width: 250px;
}

#btt-box button:hover {
  background-color: var(--cor-acento-forte);
  border-color: var(--cor-texto-escura);
  color: white;
  border: 2px;
}

#btt-box button:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.564);
}

#mensagem {
  width: 50%;
  margin: 30px auto;
  font-size: 1.6rem;
  text-align: center;
  min-height: 150px;
  font-weight: 300;
}
