body {
  background-color: var(--cor-fundo-clara);
}

#quem-somos-fundo {
  background-color: var(--cor-fundo-clara);
  /* background-image: linear-gradient(
    170deg,
    var(--cor-fundo-claraX),
    var(--cor-fundo-escuraX)
  ); */
  background-image: url(https://startupfashion.com/wp-content/uploads/2019/07/pre-launch-marketing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

#quem-somos {
  color: white !important;
  margin: auto;
  width: var(--largura-meio);
  max-width: var(--largura-maxima);
  padding: 20px;
}

#quem-somos h1 {
  width: 70%;
}

#projetos-fundo {
  background-color: var(--cor-fundo-clara);
}

#projetos {
  width: var(--largura-meio);
  max-width: var(--largura-maxima);
  margin: auto;
  padding: 20px 40px;
  text-align: justify;
}

#projetos p {
  font-weight: 300;
}

.projetos {
  display: grid;
  width: var(--largura-meio);
  max-width: var(--largura-maxima);
  padding: 0px;
  margin: auto;
}

.projetos-img {
  background-size: cover;
  height: 360px;
}

.projetos-texto {
  padding: 0px 0px 10px 30px;
}

#cadastro .projetos-texto {
  padding: 0px 30px 10px 0px;
}

.projetos-texto h3 {
  background-color: rgba(0, 0, 0, 0.315);
  text-align: center;
}

.projetos-texto p {
  text-align: justify;
}

.projetos-texto a {
  text-decoration: none;
  color: var(--cor-texto-normal);
  display: block;
  font-variant: small-caps;
  background-color: var(--cor-acento-suave);
  border-style: none;
  padding: 10px;
  width: 250px;
  text-align: center;
  margin: auto;
  font-size: 1.2em;
}

.projetos-texto a:hover {
  background-color: var(--cor-acento-forte);
  border-color: var(--cor-texto-escura);
  border: 2px;
}

.projetos-texto a:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.564);
}

#calculadora {
  grid-template-columns: 2fr 3fr;
}

#calculadora .projetos-img {
  background-image: url(../img/ind-calc.png);
}

#cadastro {
  grid-template-columns: 3fr 2fr;
}

#cadastro .projetos-img {
  background-image: url(../img/ind-form.png);
}

#conversor {
  grid-template-columns: 2fr 3fr;
}

#conversor .projetos-img {
  background-image: url(../img/ind-conv.png);
}

#calculadora-fundo {
  background-color: var(--cor-fundo-normal);
}

#cadastro-fundo {
  background-color: var(--cor-fundo-clara);
}

#conversor-fundo {
  background-color: var(--cor-fundo-normal);
}

#equipe-fundo {
  background-color: var(--cor-fundo-clara);
  height: 400px;
}
