/* Typografia */

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,300;0,500;0,700;0,900;1,400&display=swap");

body {
  font-family: "Alegreya Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

.fonte-normal {
  font-size: 1.1em;
}

.fonte-grande {
  font-size: 1.4em;
}

/* Variáveis cores e tamanhos */

:root {
  --largura-meio: 90%;
  --largura-maxima: 1400px;
}

.cores-dia {
  --cor-acento-suave: #5957e7;
  --cor-acento-normal: #3431f1;
  --cor-acento-forte: #0e0ae7;
  --cor-fundo-claraX: #eef6ff;
  --cor-fundo-clara: #d8e6f5;
  --cor-fundo-normal: #c7d6e4;
  --cor-fundo-escura: #b0bbc5;
  --cor-fundo-escuraX: #282e33;
  --cor-texto-clara: #222;
  --cor-texto-normal: #111;
  --cor-texto-escura: #000;
}

.cores-noite {
  --cor-acento-suave: #5957e7;
  --cor-acento-normal: #3431f1;
  --cor-acento-forte: #0e0ae7;
  --cor-fundo-claraX: #4b5d6e;
  --cor-fundo-clara: #253341;
  --cor-fundo-normal: #192734;
  --cor-fundo-escura: #15202b;
  --cor-fundo-escuraX: #0b1016;
  --cor-texto-clara: #fff;
  --cor-texto-normal: #eee;
  --cor-texto-escura: #ddd;
}

/* --------------------- */

body {
  color: var(--cor-texto-normal);
}

header {
  height: 80px;
  background-color: var(--cor-fundo-escura);
}

#header-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--largura-meio);
  max-width: var(--largura-maxima);
  margin: auto;
}

header img {
  height: 80px;
}

main {
  min-height: calc(100vh - 160px);
}

footer {
  background-color: var(--cor-fundo-escura);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
