:root {
  --largura-meio: 90%;
  --largura-maxima: 1400px;
}

.cores-dia {
  --cor-acento-suave: #5957e7;
  --cor-acento-normal: #3431f1;
  --cor-acento-forte: #0e0ae7;
  --cor-fundo-clara: #e0ebf6;
  --cor-fundo-normal: #c7d6e4;
  --cor-fundo-escura: #b0bbc5;
  --cor-texto-clara: #222;
  --cor-texto-normal: #111;
  --cor-texto-escura: #000;
}

.cores-noite {
  --cor-acento-suave: #5957e7;
  --cor-acento-normal: #3431f1;
  --cor-acento-forte: #0e0ae7;
  --cor-fundo-clara: #253341;
  --cor-fundo-normal: #192734;
  --cor-fundo-escura: #15202b;
  --cor-texto-clara: #fff;
  --cor-texto-normal: #eee;
  --cor-texto-escura: #ddd;
}

.fonte-normal {
  font-size: 1.1em;
}

.fonte-grande {
  font-size: 1.4em;
}

/* --------------------- */

body {
  color: var(--cor-texto-normal);
}

header {
  height: 80px;
  background-color: var(--cor-fundo-escura);
}

#header-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--largura-meio);
  max-width: var(--largura-maxima);
  margin: auto;
}

header img {
  height: 80px;
}

main {
  min-height: calc(100vh - 160px);
}

footer {
  background-color: var(--cor-fundo-escura);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
